html, body {
  width: auto;
  height: 100%;
  background-color: #282828;
  color: white; }

main, #root {
  width: 100%;
  height: 100%; }
  main > div, #root > div {
    width: 50%;
    height: 100%;
    display: inline-block; }
  main .graph, #root .graph {
    width: 100%;
    height: 100%; }
    main .graph .tick, main .graph .point, main .graph .domain, #root .graph .tick, #root .graph .point, #root .graph .domain {
      stroke: white; }
