#standardBSTGraph span.label {
  padding: 10px; }

#standardBSTGraph .graph svg {
  width: 100%;
  height: 100%; }
main#bst {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  main#bst #graphTitles {
    display: block;
    height: 50px; }
    main#bst #graphTitles div {
      display: flex;
      height: 100%; }
      main#bst #graphTitles div h2 {
        margin: auto; }
  main#bst #graphs {
    flex: 1; }
    main#bst #graphs > div {
      width: 50%;
      float: left;
      height: 100%; }
      main#bst #graphs > div svg {
        width: 100%;
        height: 100%; }
        main#bst #graphs > div svg .domain, main#bst #graphs > div svg .tick {
          stroke: #fff; }
  main#bst #inserts {
    display: flex;
    justify-content: flex-start; }
    main#bst #inserts div {
      margin-top: auto;
      margin-bottom: auto;
      padding: 10px; }
  main#bst label.toggle {
    width: 80px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    background: #5d5d5d;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative; }
    main#bst label.toggle:after {
      content: '';
      position: absolute;
      top: 14px;
      left: 14px;
      height: 2px;
      width: 52px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: #707070; }
    main#bst label.toggle input[type=checkbox] {
      visibility: hidden; }
    main#bst label.toggle input[type=checkbox]:checked + span {
      left: 54px; }
      main#bst label.toggle input[type=checkbox]:checked + span:after {
        background: #00bf00; }
    main#bst label.toggle span {
      display: block;
      width: 22px;
      height: 22px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -o-transition: all .4s ease;
      -ms-transition: all .4s ease;
      transition: all .4s ease;
      cursor: pointer;
      position: absolute;
      top: 4px;
      z-index: 1;
      left: 4px;
      background: #fcfff4; }
      main#bst label.toggle span:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: #333;
        left: 6px;
        top: 6px; }
main#veb {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  main#veb svg {
    width: 100%;
    height: 100%; }
html, body, #root, #root > div {
  width: auto;
  height: 100%;
  background-color: #282828;
  color: white; }

h1 {
  color: #eee;
  font: 30px Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px black;
  text-align: center;
  margin-bottom: 50px; }

nav {
  display: inline-block;
  background: #292929;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  z-index: 2000; }
  nav ul {
    display: inline-block;
    list-style: none;
    padding: 0; }
    nav ul li {
      float: left; }
      nav ul li a {
        color: #55beff;
        padding: 15px;
        text-decoration: none; }
        nav ul li a.active {
          border: solid 1px white; }

input {
  background: none;
  border: none;
  outline: none;
  border-bottom: solid 1px white;
  margin: 5px;
  color: white; }

button {
  background: #464646;
  color: white;
  padding: 5px 10px;
  font-size: 15px; }
  button + button {
    margin-left: 20px; }
