//global.scss
html, body, #root, #root >div {
  width: auto;
  height: 100%;
  background-color: #282828;
  color: white;
}

h1 {
  color: #eee;
  font: 30px Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px black;
  text-align: center;
  margin-bottom: 50px;
}

nav {
  display: inline-block;
  background: #292929;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  // position: fixed;
  z-index: 2000;

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      float: left;

      &#github {
        float: right;

        img {
          width: 16px;
          height: 16px;
          padding-right: 5px;
        }

        a{
          color: red;
          margin: auto;
          padding: 0;
        }
      }
    }
  }
}

input {
  background: none;
  border: none;
  outline: none;
  border-bottom: solid 1px white;
  margin: 5px;
  color: white;
}

button {
  background: #464646;
  color: white;
  padding: 5px 10px;
  font-size: 15px;

  & + button {
    margin-left: 20px;
  }
}

/* Tooltip container */
.tooltip {
  padding: 0 !important;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    border-bottom: 1px dotted black;
    border-radius: 50%;
    border: solid 1px yellow;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 10vw;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
  color: #55beff;
  padding: 15px;
  text-decoration: none;

  &.active {
    border: solid 1px white;
  }
}
