//StandardBSTGraph.scss
#standardBSTGraph {
  span.label {
    padding: 10px;
  }

  .graph svg {
    width: 100%;
    height: 100%;
  }

  #standardTooltip {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
  }
}
