//veb.scss
main#veb {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  svg {
    width: 100%;
    height: 100%;
  }

  form span {
    margin-left: 15px;
    font-size: 20px;
  }
}
